.form-field {
  display: block;
  margin-bottom: 10px;
}

.recomendation {
  display: block;
  margin-top: 10px;
}

.group {
  margin-bottom: 20px;
}

.last {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
}
